if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set _CHIPNAME xc6s
}

set _CFG_IN 0x05
set _JSHUTDOWN 0x0d
set _JPROGRAM 0x0b
set _JSTART 0x0c
set _BYPASS 0x3f

jtag newtap $_CHIPNAME fpga -irlen 6 -expected-id $FPGATAPID
pld device virtex2 $_CHIPNAME.fpga

proc fpga_program {} {
	global _JSHUTDOWN _JPROGRAM _JSTART _BYPASS _CHIPNAME
	irscan $_CHIPNAME.fpga $_JSHUTDOWN
	irscan $_CHIPNAME.fpga $_JPROGRAM
	irscan $_CHIPNAME.fpga $_JSTART
	irscan $_CHIPNAME.fpga $_BYPASS
}

#xtp038 and xc3sprog approach
proc fpga_program_iprog {} {
	global _JSHUTDOWN _JSTART _BYPASS _CFG_IN _CHIPNAME
	irscan $_CHIPNAME.fpga $_JSHUTDOWN
	runtest 16
	irscan $_CHIPNAME.fpga $_CFG_IN
	# xtp038 IPROG 16bit flipped
	drscan $_CHIPNAME.fpga 16 0xffff 16 0x9955 16 0x66aa 16 0x850c 16 0x7000 16 0x0004
	irscan $_CHIPNAME.fpga $_JSTART
	runtest 32
	irscan $_CHIPNAME.fpga $_BYPASS
	runtest 1
}
