# ixo-usb-jtag - Emulation of a Altera Bus Blaster I on a Cypress FX2 IC.
#
# The ixo-usb-jtag firmware can be loaded onto a bunch of different hardware
# including;
#  * Xilinx USB Platform Cable
#  * Many Digilent boards such as the Nexys, Nexys 2 and Atlys boards
#  * Many fpga4fun.com boards from such as the Saxo and Xylo boards
#  * The Numato Opsis
#
# Original website - http://www.ixo.de/info/usb_jtag/
#    Older version - http://ixo-jtag.sourceforge.net/
#   Newest version - http://www.ixo.de/info/usb_jtag/
#
# Packages with prebuilt firmware and udev rules for Ubuntu can be found at
# https://launchpad.net/~timvideos/+archive/ubuntu/fpga-support

interface usb_blaster
usb_blaster_vid_pid 0x16C0 0x06AD
usb_blaster_device_desc "Van Ooijen Technische Informatica"
# ixo-usb-jtag is only compatible with the ublast1 protocol implemented via the
# ftdi or ftd2xx modes, using ublast2 will cause openocd to hang.
usb_blaster_lowlevel_driver ftdi
