[project]
	description = Open On-Chip Debugger
	state = active
[receive]
	requireChangeId = true
	requireSignedOffBy = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Code Review
	label-Verified = -1..+1 group Administrators
	label-Verified = -1..+1 group Non-Interactive Users
	submit = group Developers
	create = group Release Manager
	push = group Release Manager
	pushMerge = group Release Manager
[access "refs/tags/*"]
	pushTag = group Release Manager
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	read = group Replication
