######################################
# Target:    CYPRESS FX3 ARM926EJ-S
######################################

if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set  _CHIPNAME fx3
}

if { [info exists ENDIAN] } {
	set _ENDIAN $ENDIAN
} else {
	set _ENDIAN little
}

if { [info exists CPUTAPID] } {
	set _CPUTAPID $CPUTAPID
} else {
	set _CPUTAPID 0x07926069
}

######################
# Target configuration
######################

jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME arm926ejs -work-area-phys 0x40000000 -work-area-size 0x80000 -endian $_ENDIAN -chain-position $_TARGETNAME
