#
# Ambiq Micro - Apollo2 EVK Board.
#

source [find interface/ftdi/ambiq_ft4232.cfg]

set WORKAREASIZE 0x8000
set CHIPNAME apollo2

reset_config srst_only srst_open_drain

transport select swd

adapter_khz 1000

source [find target/ambiq_apollo2.cfg]
